<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'main.css')}}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body style="background-color:#56baed; margin-bottom: 230px;">
    {% with messages = get_flashed_messages() %}
       {% if messages %}
          {% for message in messages %}
             <div class="alert alert-info alert-dismissible" role="alert" id="alertBar" style="color: #31708f; background-color: #d9edf7; border-color: #bce8f1;">
              <button aria-label="Close" class="close" data-dismiss="alert" type="button" onclick="closeAlert()"><span aria-hidden="true">×</span></button>
              <p>{{message}}</p>
            </div>
          {% endfor %}
       {% endif %}
    {% endwith %}
    <script>
        function closeAlert() {
            document.getElementById("alertBar").style.display = "none";
        }
    </script>
    <div id="analyzerPage" class="fadeInDown" style="box-sizing: border-box; margin-top:40px;">
		<div class="col">
			<h1 style="margin: 20px auto; padding-top: 20px">New Project</h1>
		</div>
        <div>
        <form action="{{ url_for('result') }}" method="POST" id="analyzerContent">
            <div class="container">
              <div class="row" style="padding-top: 20px">
                <div class="col" style="display: flex; align-items:center; justify-content: center;">
                    <label for="Name" style="margin-left: 20px">Name</label>
                </div>
                <div class="col col-9">
                    <input type="text" id="Name" name="Name" placeholder="Please Enter a Name">
                </div>
              </div>
              <div class="row">
                <div class="col" style="display: flex; align-items:center; justify-content: center;">
                  <label for="Category" style="margin-left: 20px">Category</label>
                </div>
                <div class="col col-9">
                    <select id="Category" name="Category">
                        <option value="" disabled selected hidden>Please Select a Value</option>
                    </select>
                    <script>
                        var select = document.getElementById("Category"),
                            cat = ['Poetry',
                                       'Narrative Film',
                                       'Music',
                                       'Film & Video',
                                       'Restaurants',
                                       'Food',
                                       'Drinks',
                                       'Product Design',
                                       'Documentary',
                                       'Nonfiction',
                                       'Indie Rock',
                                       'Crafts',
                                       'Games',
                                       'Tabletop Games',
                                       'Design',
                                       'Comic Books',
                                       'Art Books',
                                       'Fashion',
                                       'Childrenswear',
                                       'Theater',
                                       'Comics',
                                       'DIY',
                                       'Webseries',
                                       'Animation',
                                       'Food Trucks',
                                       'Public Art',
                                       'Illustration',
                                       'Photography',
                                       'Pop',
                                       'People',
                                       'Art',
                                       'Family',
                                       'Fiction',
                                       'Accessories',
                                       'Rock',
                                       'Hardware',
                                       'Software',
                                       'Weaving',
                                       'Gadgets',
                                       'Web',
                                       'Jazz',
                                       'Ready-to-wear',
                                       'Festivals',
                                       'Video Games',
                                       'Anthologies',
                                       'Publishing',
                                       'Shorts',
                                       'Electronic Music',
                                       'Radio & Podcasts',
                                       'Apps',
                                       'Cookbooks',
                                       'Apparel',
                                       'Metal',
                                       'Comedy',
                                       'Hip-Hop',
                                       'Periodicals',
                                       'Dance',
                                       'Technology',
                                       'Painting',
                                       'World Music',
                                       'Photobooks',
                                       'Drama',
                                       'Architecture',
                                       'Young Adult',
                                       'Latin',
                                       'Mobile Games',
                                       'Flight',
                                       'Fine Art',
                                       'Action',
                                       'Playing Cards',
                                       'Makerspaces',
                                       'Punk',
                                       'Thrillers',
                                       "Children's Books",
                                       'Audio',
                                       'Performance Art',
                                       'Ceramics',
                                       'Vegan',
                                       'Graphic Novels',
                                       'Fabrication Tools',
                                       'Performances',
                                       'Sculpture',
                                       'Sound',
                                       'Stationery',
                                       'Print',
                                       "Farmer's Markets",
                                       'Events',
                                       'Classical Music',
                                       'Graphic Design',
                                       'Spaces',
                                       'Country & Folk',
                                       'Wearables',
                                       'Mixed Media',
                                       'Journalism',
                                       'Movie Theaters',
                                       'Animals',
                                       'Digital Art',
                                       'Horror',
                                       'Knitting',
                                       'Small Batch',
                                       'Installations',
                                       'Community Gardens',
                                       'DIY Electronics',
                                       'Embroidery',
                                       'Camera Equipment',
                                       'Jewelry',
                                       'Farms',
                                       'Conceptual Art',
                                       'Fantasy',
                                       'Webcomics',
                                       'Experimental',
                                       'Science Fiction',
                                       'Puzzles',
                                       'R&B',
                                       'Music Videos',
                                       'Calendars',
                                       'Video',
                                       'Plays',
                                       'Blues',
                                       'Bacon',
                                       'Faith',
                                       'Live Games',
                                       'Woodworking',
                                       'Places',
                                       'Footwear',
                                       '3D Printing',
                                       'Academic',
                                       'Zines',
                                       'Musical',
                                       'Workshops',
                                       'Photo',
                                       'Immersive',
                                       'Letterpress',
                                       'Gaming Hardware',
                                       'Candles',
                                       'Television',
                                       'Space Exploration',
                                       'Couture',
                                       'Nature',
                                       'Robots',
                                       'Typography',
                                       'Crochet',
                                       'Translations',
                                       'Textiles',
                                       'Pottery',
                                       'Interactive Design',
                                       'Video Art',
                                       'Quilts',
                                       'Glass',
                                       'Pet Fashion',
                                       'Printing',
                                       'Romance',
                                       'Civic Design',
                                       'Kids',
                                       'Literary Journals',
                                       'Taxidermy',
                                       'Literary Spaces',
                                       'Chiptune',
                                       'Residencies'];
                         for(var i=0;i<cat.length; i++) {
                             var option = document.createElement("OPTION"),
                                 txt = document.createTextNode(cat[i]);
                             option.appendChild(txt);
                             option.setAttribute("value", cat[i]);
                             select.insertBefore(option, select.lastChild);
                         }
                    </script>
                </div>
              </div>
              <div class="row">
                <div class="col" style="display: flex; align-items:center; justify-content: center;">
                  <label for="Main Category" style="margin-left: 20px">Main Category</label>
                </div>
                <div class="col col-9">
                    <select type="text" id="Main Category" name="Main Category">
                        <option value="" disabled selected hidden>Please Select a Value</option>
                    </select>
                    <script>
                        var select = document.getElementById("Main Category"),
                            main_cat = ['Publishing',
                                         'Film & Video',
                                         'Music',
                                         'Food',
                                         'Design',
                                         'Crafts',
                                         'Games',
                                         'Comics',
                                         'Fashion',
                                         'Theater',
                                         'Art',
                                         'Photography',
                                         'Technology',
                                         'Dance',
                                         'Journalism'];
                         for(var i=0;i<main_cat.length; i++) {
                             var option = document.createElement("OPTION"),
                                 txt = document.createTextNode(main_cat[i]);
                             option.appendChild(txt)
                             option.setAttribute("value", main_cat[i]);
                             select.insertBefore(option, select.lastChild);
                         }
                    </script>
                </div>
              </div>
              <div class="row">
                <div class="col" style="display: flex; align-items:center; justify-content: center;">
                  <label for="Currency" style="margin-left: 20px">Currency</label>
                </div>
                <div class="col col-9">
                    <select type="text" id="Currency" name="Currency">
                        <option value="" disabled selected hidden>Please Select a Value</option>
                    </select>
                    <script>
                        var select = document.getElementById("Currency"),
                            curr = ['GBP',
                                         'USD',
                                         'CAD',
                                         'AUD',
                                         'NOK',
                                         'EUR',
                                         'MXN',
                                         'SEK',
                                         'NZD',
                                         'CHF',
                                         'DKK',
                                         'HKD',
                                         'SGD',
                                         'JPY'];
                         for(var i=0;i<curr.length; i++) {
                             var option = document.createElement("OPTION"),
                                 txt = document.createTextNode(curr[i]);
                             option.appendChild(txt)
                             option.setAttribute("value", curr[i]);
                             select.insertBefore(option, select.lastChild);
                         }
                    </script>
                </div>
              </div>
              <div class="row">
                <div class="col" style="display: flex; align-items:center; justify-content: center;">
                  <label for="Goal" style="margin-left: 20px">Goal</label>
                </div>
                <div class="col col-9">
                  <input type="text" id="Goal" name="Goal" placeholder="Please Enter a Number">
                </div>
              </div>
              <div class="row">
                <div class="col" style="display: flex; align-items:center; justify-content: center;">
                  <label for="Pledged" style="margin-left: 20px">Pledged</label>
                </div>
                <div class="col col-9">
                  <input type="text" id="Pledged" name="Pledged" placeholder="Please Enter a Number">
                </div>
              </div>
              <div class="row">
                <div class="col" style="display: flex; align-items:center; justify-content: center;">
                  <label for="Backers" style="margin-left: 20px">Backers</label>
                </div>
                <div class="col col-9">
                  <input type="text" id="Backers" name="Backers" placeholder="Please Enter a Number">
                </div>
              </div>
              <div class="row">
                <div class="col" style="display: flex; align-items:center; justify-content: center;">
                  <label for="Country" style="margin-left: 20px">Country</label>
                </div>
                <div class="col col-9">
                    <select type="text" id="Country" name="Country">
                        <option value="" disabled selected hidden>Please Select a Value</option>
                    </select>
                    <script>
                        var select = document.getElementById("Country"),
                            cntry = ['GB',
                                     'US',
                                     'CA',
                                     'AU',
                                     'NO',
                                     'IT',
                                     'DE',
                                     'IE',
                                     'MX',
                                     'ES',
                                     'SE',
                                     'FR',
                                     'NL',
                                     'NZ',
                                     'CH',
                                     'AT',
                                     'DK',
                                     'BE',
                                     'HK',
                                     'LU',
                                     'SG',
                                     'JP'];
                         for(var i=0;i<cntry.length; i++) {
                             var option = document.createElement("OPTION"),
                                 txt = document.createTextNode(cntry[i]);
                             option.appendChild(txt)
                             option.setAttribute("value", cntry[i]);
                             select.insertBefore(option, select.lastChild);
                         }
                    </script>
                </div>
              </div>
              <div class="row">
                <div class="col" style="display: flex; align-items:center; justify-content: center;">
                  <label for="USD Pledged" style="margin-left: 20px">USD Pledged (Provided By Kickstarter)</label>
                </div>
                <div class="col col-9">
                  <input type="text" id="USD Pledged" name="USD Pledged" placeholder="Please Enter a Number">
                </div>
              </div>
            </div>
            <input class="newProject ignore" type="submit" style="margin-top: 10px; margin-bottom:25px;" value="Submit">
        </form>
        <form action="{{ url_for('welcome') }}" method="GET">
	        <input class="newProject ignore" style="margin-top: 40px; margin-bottom:25px" name="Go Back" type="submit" value="Back To Dash">
	    </form>
        </div>
    </div>
    </body> 
</html>