@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */
html {
  background-color: #56baed;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

/* STRUCTURE */
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

.newProject {
  background-color: #56baed;
  border: none;
  padding: 15px 80px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  width: 85%;
  max-width: 300px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.newProject:hover  {
  background-color: #39ace7;
}

#resultContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fdfefe;
  margin: auto;
  margin-top: 50px;
  padding: 30px;
  padding-bottom: 50px;
  width: 90%;
  max-width: 800px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 7px 15px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#welcomePage {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-color: #bbe3f7;
  margin: 40px auto;
  padding: 30px;
  width: 90%;
  max-width: 1800px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 50px 80px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#welcomeContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  overflow: auto;
  background: #fdfefe;
  margin: 30px auto 25px;
  padding: 30px;
  width: 90%;
  max-width: 1800px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#tableContent {
  margin: 0px auto 25px;
  -webkit-border-radius: 10px 10px 10px 10px;
  overflow: auto;
  border: 1px solid black;
  border-collapse: separate !important;
  border-radius: 15px;
  background: #fdfefe;
  padding: 30px;
  width: 90%;
  max-width: 1200px;
  position: relative;
  text-align: center;
}

#analyzerPage {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-color: #bbe3f7;
  margin: 30px auto;
  padding: 30px;
  width: 90%;
  max-width: 750px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 20px 50px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#analyzerContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fdfefe;
  margin: auto;
  padding: 30px;
  padding-bottom: 50px;
  width: 90%;
  max-width: 650px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 7px 15px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formWrapper {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-color: #bbe3f7;
  padding: 30px;
  width: 90%;
  max-width: 550px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 40px 80px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fdfefe;
  margin:auto;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(0,0,0,0.3);
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

/* TABS */
h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/

input[type=button]:not(.ignore), input[type=submit]:not(.ignore), input[type=reset]:not(.ignore)  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  width: 85%;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover:not(.ignore), input[type=submit]:hover:not(.ignore), input[type=reset]:hover:not(.ignore)  {
  background-color: #39ace7;
}

input[type=button]:active:not(.ignore), input[type=submit]:active:not(.ignore), input[type=reset]:active:not(.ignore)  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

#Category, #Main\ Category, #Currency, #Country, input[type=email], input[type=password], input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=email]:focus, input[type=password]:focus, input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}
#register_name::placeholder {
    color: #cccccc;
}

input[type=text]:not(#register_name)::placeholder {
    color: black;
}

input[type=email]::placeholder, input[type=password]::placeholder {
  color: #cccccc;
}

/* ANIMATIONS */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}


/* OTHERS */

*:focus {
    outline: none;
}

#icon {
  width:30%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

* {
  box-sizing: border-box;
}

.collapsible {
    background-color: #bbe3f7;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
}

.collapsible:hover {
    background-color: #9fd7f3;
}

.content {
    text-align: left;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #bbe3f7;
    border-radius: 15px;
}

.alert {
    margin-bottom: 0;
    text-align: center;
    padding: 8px;
    color: #fff;
    background: #1c1c1c;
    border-color: #000;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-dismissable .close, .alert-dismissible .close {
    right: 12px;
}
.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    margin-right: 20px;
}
.alert p {
    font-size: 16px;
}
.alert>p, .alert>ul {
    margin-bottom: 0;
}
.alert a {
    color: #00aeef;
    font-size: 16px;
}
.alert {
    margin-bottom: 0;
    text-align: center;
    padding: 8px;
    color: #fff;
    background: #1c1c1c;
    border-color: #000;
}
.ct-section-header {
    padding-top: 35px;
}
.ct-section-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: #101f1d;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 45px;
    letter-spacing: 1.25px;
    margin-bottom: 5px;
}
.ct-section-header__separator {
    display: block;
    padding-top: 8px;
}
html, body, img, figure {
    max-width: 100%;
}
.text-center {
    text-align: center !important;
}
.ct-choice-box {
    padding: 30px 0 16px;
    display: block;
    position: relative;
}
a {
    -webkit-transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
.ct-choice-box .inner, .ct-isotope-item {
    cursor: pointer;
}
.ct-isotope-item__inner, .ct-choice-box .inner {
    display: block;
}
.ct-choice-box .inner {
    position: relative;
}
.ct-choice-box img {
    width: 100%;
    -webkit-transition: opacity 250ms cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 250ms cubic-bezier(0.55, 0, 0.1, 1);
}
.ct-isotope-gallery {
    margin-left: -4px;
    margin-right: -4px;
    padding: 32px 0;
}
.ct-isotope-item {
    width: 100%;
    padding: 4px;
    float: left;
}
.ct-isotope-item__inner, .ct-choice-box .inner {
    display: block;
}
.ct-isotope-item__inner {
    position: relative;
    -webkit-transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);
}
.ct-isotope-item__media img {
    width: 100%;
}
.ct-isotope-item__title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ct-isotope-item--medium .ct-isotope-item__arrow {
    right: 20px;
    bottom: 22px;
}
.ct-isotope-item__arrow {
    position: absolute;
    bottom: 15px;
    right: 10px;
    z-index: 2;
}
.ct-isotope-item__title .outer {
    height: 100%;
    display: table;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    font-size: 32px;
    color: white;
    font-family: 'Oswald', sans-serif;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    z-index: 1;
    letter-spacing: 1.25px;
}
.ct-isotope-item__title .outer > .ct-isotope-item__title .outer__inner, .ct-isotope-item__title .outer > .inner {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}
.ct-isotope-item__title .outer span {
    display: inline-block;
    max-width: 268px;
    text-align: left;
    width: 100%;
}
.ct-isotope-item__inner:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 5;
}
.ct-isotope-item__inner {
    position: relative;
    -webkit-transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);
}
.ct-isotope-item__inner {
    position: relative;
    -webkit-transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);
}
html:not(.mobile):not(.tablet) .ct-choice-box:hover {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    z-index: 10;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
.ct-choice-box::before {
    position: static;
}
.ct-choice-box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ct-choice-box img {
    width: 100%;
    -webkit-transition: opacity 250ms cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 250ms cubic-bezier(0.55, 0, 0.1, 1);
}
html, body, img, figure {
    max-width: 100%;
}
.ct-choice-box.business .ct-choice-box__header {
    background: #2fbfbc;
}
.ct-choice-box.residents .ct-choice-box__header {
    background: #fd4f00;
}
html:not(.mobile):not(.tablet) .ct-choice-box:hover.residents .ct-choice-box__header {
    background: #ca4103;
}
html:not(.mobile):not(.tablet) .ct-choice-box:hover.living .ct-choice-box__header {
    background: #000000;
}
.ct-choice-box.living .ct-choice-box__header {
    background: #363636;
}
.ct-choice-box.workforce .ct-choice-box__header {
    background: #2fbfbc;
}
.ct-choice-box__header {
    position: absolute;
    bottom: 28px;
    letter-spacing: 1px;
    left: 0;
    padding: 10px 29px 14px 25px;
    line-height: 1;
    font-family: 'Oswald', sans-serif;
    font-size: 37px;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    -webkit-transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);
}
.ct-choice-box__header {
    position: absolute;
    bottom: 28px;
    letter-spacing: 1px;
    left: 0;
    padding: 10px 29px 14px 25px;
    line-height: 1;
    font-family: 'Oswald', sans-serif;
    font-size: 37px;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    -webkit-transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);
}
/*@media (max-height: 766px)*/
/*.ct-isotope-gallery {*/
/*    padding-bottom: 60px;*/
/*}*/
/*@media only screen and (min-width: 1024px)*/
/*.ct-isotope-gallery {*/
/*    padding-bottom: 60px;*/
/*}*/
/*.ct-isotope-gallery {*/
/*    margin-left: -4px;*/
/*    margin-right: -4px;*/
/*    padding: 32px 0;*/
/*}*/
/*@media only screen and (min-width: 1024px)*/
/*.ct-isotope-gallery .ct-isotope-item--medium {*/
/*    width: 30.5847%;*/
/*}*/
/*@media only screen and (min-width: 768px)*/
/*.ct-isotope-gallery .ct-isotope-item {*/
/*    width: 50%;*/
/*}*/
/*.ct-choice-box .inner, .ct-isotope-item {*/
/*    cursor: pointer;*/
/*}*/
/*.ct-isotope-item {*/
/*    width: 100%;*/
/*    padding: 4px;*/
/*    float: left;*/
/*}*/
/*.ct-isotope-item__inner, .ct-choice-box .inner {*/
/*    display: block;*/
/*}*/
/*.ct-isotope-item__inner {*/
/*    position: relative;*/
/*    -webkit-transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);*/
/*    transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);*/
/*}*/
/*.ct-isotope-item__inner:before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: #000;*/
/*    z-index: 2;*/
/*    opacity: 0;*/
/*    -webkit-transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);*/
/*    transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);*/
/*}*/
/*.ct-isotope-item__media img {*/
/*    width: 100%;*/
/*}*/
/*html, body, img, figure {*/
/*    max-width: 100%;*/
/*}*/
/*.ct-isotope-item__title {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
/*.ct-isotope-item--medium .ct-isotope-item__arrow {*/
/*    right: 20px;*/
/*    bottom: 22px;*/
/*}*/
/*.ct-isotope-item__arrow {*/
/*    position: absolute;*/
/*    bottom: 15px;*/
/*    right: 10px;*/
/*    z-index: 2;*/
/*}*/
/*@media only screen and (max-width: 1398px)*/
/*.ct-isotope-item__title .outer {*/
/*    font-size: 24px;*/
/*    padding: 10px 0;*/
/*}*/
/*.ct-isotope-item__title .outer {*/
/*    height: 100%;*/
/*    display: table;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    padding: 30px 0;*/
/*    font-size: 32px;*/
/*    color: white;*/
/*    font-family: 'Oswald', sans-serif;*/
/*    line-height: 1;*/
/*    text-transform: uppercase;*/
/*    font-weight: 300;*/
/*    position: relative;*/
/*    z-index: 1;*/
/*    letter-spacing: 1.25px;*/
/*}*/
/*.ct-isotope-item__title .outer > .ct-isotope-item__title .outer__inner, .ct-isotope-item__title .outer > .inner {*/
/*    display: table-cell;*/
/*    width: 100%;*/
/*    vertical-align: middle;*/
/*}*/
/*@media only screen and (max-width: 1398px)*/
/*.ct-isotope-item .outer span {*/
/*    text-align: center;*/
/*}*/
/*.ct-isotope-item__title .outer span {*/
/*    display: inline-block;*/
/*    max-width: 268px;*/
/*    text-align: left;*/
/*    width: 100%;*/
/*}*/
/*.ct-isotope-item--medium .ct-isotope-item__arrow {*/
/*    right: 20px;*/
/*    bottom: 22px;*/
/*}*/
/*.ct-isotope-item__arrow {*/
/*    position: absolute;*/
/*    bottom: 15px;*/
/*    right: 10px;*/
/*    z-index: 2;*/
/*}*/
/*.ct-isotope-item__inner.accent:after {*/
/*    opacity: 0.8;*/
/*    background: #2fbfbc;*/
/*}*/
/*.ct-isotope-item__inner:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    opacity: 0.8;*/
/*    -webkit-transition: opacity 250ms cubic-bezier(0.55, 0, 0.1, 1);*/
/*    transition: opacity 250ms cubic-bezier(0.55, 0, 0.1, 1);*/
/*}*/
/*@media only screen and (min-width: 1399px)*/
/*html:not(.ie8) .ct-isotope-gallery .ct-isotope-item--small {*/
/*    width: 270px;*/
/*}*/
/*@media only screen and (min-width: 1024px)*/
/*.ct-isotope-gallery .ct-isotope-item--small {*/
/*    width: 19.7901%;*/
/*}*/
/*@media only screen and (min-width: 768px)*/
/*.ct-isotope-gallery .ct-isotope-item {*/
/*    width: 50%;*/
/*}*/
/*.ct-isotope-item__inner, .ct-choice-box .inner {*/
/*    display: block;*/
/*}*/
/*.ct-isotope-item__inner {*/
/*    position: relative;*/
/*    -webkit-transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);*/
/*    transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);*/
/*}*/
/*.ct-isotope-item__inner:before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: #000;*/
/*    z-index: 2;*/
/*    opacity: 0;*/
/*    -webkit-transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);*/
/*    transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);*/
/*}*/