<!DOCTYPE html>
<html>
<head>
	<title>Pyrebase-Flask-Login</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
</head>
<body style="margin: 0">
    {% with messages = get_flashed_messages() %}
       {% if messages %}
          {% for message in messages %}
            <div class="alert alert-info alert-dismissible" role="alert" id="alertBar" style="color: #31708f; background-color: #d9edf7; border-color: #bce8f1; padding-top:0">
              <button aria-label="Close" class="close" data-dismiss="alert" type="button" onclick="closeAlert()" style="position: absolute; top: 0; right: 0; padding: 0.25rem 1.25rem 0.75rem; color: inherit;">
                  <span aria-hidden="true" style="cursor:pointer;color:inherit; font-size: 1.5rem; font-weight: 700; line-height: 2; text-shadow: 0 1px 0 #fff; text-transform: none; font-family: inherit; text-transform:none">×</span>
              </button>
              <p>{{message}}</p>
            </div>
          {% endfor %}
       {% endif %}
    {% endwith %}
    <script>
        function closeAlert() {
            document.getElementById("alertBar").style.display = "none";
        }
    </script>
    <div class="wrapper fadeInDown" style="padding-top:0px;">
      <div id="formWrapper" style="padding-bottom: 40px;">
        <h1 style="margin-top: 20px;">Kickstarter Analyzer</h1>
        <div id="formContent">
          <h2 class="active"> Sign In </h2>
          <a href="{{ url_for('signup') }}"><h2 class="inactive underlineHover">Sign Up </h2></a>
          <div class="fadeIn first">
            <img src="{{ url_for('static', filename = 'user.png') }}" id="icon" alt="User Icon" />
          </div>
          <form action="{{ url_for('outcome') }}" method="POST">
            <input type="email" id="login" class="fadeIn second" name="email" placeholder="email">
            <input type="password" id="password" class="fadeIn third" name="pass" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>
        </div>
      </div>
    </div>
</body>
</html>